<?xml version="1.0"?>
<launch>

	<!-- Launch file for Joystick control -->

	<!-- Remember to install "sudo pip install ds4drv" -->
	<!-- Start "sudo ds4drv" in seperate terminal -->  	
  	<!--<node name="ds4drv_script_call" pkg="kugle_bringup" type="run_ds4drv.sh" output="screen" />-->

	<!-- Remember to install "sudo apt install ros-kinetic-joy -->

  	<!-- JOY ROS NODE -->
	<node name="ps4_joy" pkg="joy" type="joy_node" respawn="true">
	    	<param name="dev" type="string" value="/dev/input/js0" />
    		<param name="deadzone" value="0.12" />
 	</node>

	<node name="velocity_mapper" pkg="kugle_misc" type="joystick_velocity_mapper_node" respawn="true">
	    	<remap from="cmd_vel" to="cmd_vel" />  <!-- set to "cmd_vel" for control in body/heading frame or "cmd_vel_inertial" for control in inertial frame -->
	    	<remap from="joy" to="joy" />
    		<param name="maximum_linear_velocity" type="double" value="0.5" />
    		<param name="maximum_angular_velocity" type="double" value="0.5" />
		<param name="publish_rate" type="int" value="10" />
 	</node>


</launch>
