<?xml version="1.0"?>
<launch>

	<!-- Launch file for Joystick control -->
  	<env name="ROSCONSOLE_CONFIG_FILE" value="$(find kugle_driver)/config/rosconsole.conf"/>

	<!-- Remember to install "sudo pip install ds4drv" -->
	<!-- Start "sudo ds4drv" in seperate terminal -->  	
  	<!--<node name="ds4drv_script_call" pkg="kugle_bringup" type="run_ds4drv.sh" output="screen" />-->

	<!-- Remember to install "sudo apt install ros-kinetic-joy -->

  	<!-- JOY ROS NODE -->
	<node name="ps4_joy" pkg="joy" type="joy_node" respawn="true">
	    	<param name="dev" type="string" value="/dev/input/js0" />
    		<param name="deadzone" value="0.12" />
 	</node>

	<node name="joystick_mapper" pkg="kugle_misc" type="joystick_mapper_node" respawn="true" output="screen">
	    	<remap from="cmd_vel" to="cmd_vel" />  <!-- set to "cmd_vel" for control in body/heading frame or "cmd_vel_inertial" for control in inertial frame -->
	    	<remap from="cmd_combined" to="cmd_combined" /> <!-- quaternion topic used in angle control -->
	    	<remap from="joy" to="joy" />

    		<param name="angle_mode" type="bool" value="true" />		

    		<param name="maximum_linear_velocity" type="double" value="0.5" />
    		<param name="rate_limit_linear_velocity" type="double" value="2.0" />

    		<param name="maximum_angular_velocity" type="double" value="1.0" />
    		<param name="rate_limit_angular_velocity" type="double" value="10.0" />

    		<param name="maximum_angle_degree" type="double" value="3" />
    		<param name="rate_limit_angle_degree" type="double" value="20" />

		<param name="publish_rate" type="int" value="50" />
 	</node>


</launch>
