<?xml version="1.0"?>
<launch>

	<arg name="bag" />

	<param name="/use_sim_time" value="true"/>

	<!-- Launch the rviz visualization of the rosbag content -->
	<include file="$(find kugle_launch)/launch/rviz_rosbag.launch">		
	</include>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

	<!-- Start the log playback -->
	<node name="bag_playback" pkg="rosbag" type="play" required="true" args="--clock --loop '$(arg bag)'"/>

</launch>
