<?xml version="1.0"?>
<launch>

	<!-- Launch file for Joystick control -->
  	<env name="ROSCONSOLE_CONFIG_FILE" value="$(find kugle_driver)/config/rosconsole.conf"/>

	<node pkg="kugle_misc" type="teleop_key" name="teleop_key"  output="screen">
		<remap from="teleop/cmd_vel" to="cmd_vel"/>  <!-- set to "cmd_vel" for control in body/heading frame or "cmd_vel_inertial" for control in inertial frame -->

    		<param name="scale_linear" type="double" value="1.0" />
    		<param name="scale_angular" type="double" value="1.0" />
	</node>

</launch>
