<?xml version="1.0" encoding="UTF-8"?>

<!-- When finished mapping, save the map by calling: "rosrun map_server map_saver -f /tmp/my_map" -->

<launch>

	<arg name="odom_frame_id" default="odom"/>
	<arg name="base_frame_id" default="heading"/>
	<arg name="global_frame_id" default="map"/>
	<arg name="odom_topic" default="odom" />
	<arg name="left_laser_topic" default="/laser/left/scan" />
  	<arg name="right_laser_topic" default="/laser/right/scan" />
	<arg name="initial_pose_x" default="0.0"/>
	<arg name="initial_pose_y" default="0.0"/>
	<arg name="initial_pose_a" default="0.0"/>

  	<arg name="laser_topic" default="/laser/combined/scan"/>
	
	<node pkg="topic_tools" type="relay" name="laser_left_relay" output="screen" args="$(arg left_laser_topic) $(arg laser_topic)">
		<param name="lazy" value="true"/>
	</node>

	<node pkg="topic_tools" type="relay" name="laser_right_relay" output="screen" args="$(arg right_laser_topic) $(arg laser_topic)">
		<param name="lazy" value="true"/>
	</node>

	<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
		<param name="base_frame" value="$(arg base_frame_id)"/>
		<param name="odom_frame" value="$(arg odom_frame_id)"/>
		<param name="map_update_interval" value="5.0"/>
		<param name="maxUrange" value="6.0"/>
		<param name="maxRange" value="8.0"/>
		<param name="sigma" value="0.05"/>
		<param name="kernelSize" value="1"/>
		<param name="lstep" value="0.05"/>
		<param name="astep" value="0.05"/>
		<param name="iterations" value="5"/>
		<param name="lsigma" value="0.075"/>
		<param name="ogain" value="3.0"/>
		<param name="lskip" value="0"/>
		<param name="minimumScore" value="200"/>
		<param name="srr" value="0.01"/>
		<param name="srt" value="0.02"/>
		<param name="str" value="0.01"/>
		<param name="stt" value="0.02"/>
		<param name="linearUpdate" value="0.5"/>
		<param name="angularUpdate" value="0.436"/>
		<param name="temporalUpdate" value="-1.0"/>
		<param name="resampleThreshold" value="0.5"/>
		<param name="particles" value="80"/>
		<!--
		<param name="xmin" value="-50.0"/>
		<param name="ymin" value="-50.0"/>
		<param name="xmax" value="50.0"/>
		<param name="ymax" value="50.0"/>
		-->
		<!-- The starting size is made small to reduce the initial memory footprint (required memory) -->
		<param name="xmin" value="-1.0"/>
		<param name="ymin" value="-1.0"/>
		<param name="xmax" value="1.0"/>
		<param name="ymax" value="1.0"/>

		<param name="delta" value="0.05"/>
		<param name="llsamplerange" value="0.01"/>
		<param name="llsamplestep" value="0.01"/>
		<param name="lasamplerange" value="0.005"/>
		<param name="lasamplestep" value="0.005"/>
		<remap from="scan" to="$(arg laser_topic)"/>
	</node>

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<rosparam file="$(find kugle_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find kugle_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find kugle_navigation)/param/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find kugle_navigation)/param/global_costmap_params.yaml" command="load" />
		<rosparam file="$(find kugle_navigation)/param/dwa_local_planner_params.yaml" command="load" />
		<rosparam file="$(find kugle_navigation)/param/move_base_params.yaml" command="load" />
		<rosparam file="$(find kugle_navigation)/param/global_planner_params.yaml" command="load" />
		<rosparam file="$(find kugle_navigation)/param/navfn_global_planner_params.yaml" command="load" />

		<!-- reset frame_id parameters using user input data -->
		<param name="global_costmap/global_frame" value="$(arg global_frame_id)"/>
		<param name="global_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
		<param name="local_costmap/global_frame" value="$(arg odom_frame_id)"/>
		<param name="local_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
		<param name="DWAPlannerROS/global_frame_id" value="$(arg odom_frame_id)"/>

		<remap from="odom" to="$(arg odom_topic)"/>
		<remap from="scan" to="$(arg laser_topic)"/>
	</node>

</launch>
