<?xml version="1.0"?>
<launch>

	<arg name="bag_path" value="/home/thomas/Kugle/2019-01-18-19-13-51.bag"/>

	<param name="/use_sim_time" value="true"/>

	<param name="robot_description" command="$(find xacro)/xacro '$(find kugle_sim_description)/urdf/kugle_rviz.xacro'" />
	<param name="robot_description_rviz" command="$(find xacro)/xacro '$(find kugle_sim_description)/urdf/kugle_rviz.xacro'" />

	<node name="bag_playback" pkg="rosbag" type="play" args="--loop $(arg bag_path)"/>

	<!-- rviz display -->
	<node name="rviz_visualizer" pkg="rviz" type="rviz" required="false" args="-d $(find kugle_sim_description)/rviz/navigation.rviz"/>

</launch>
