<?xml version="1.0"?>
<launch>

	<param name="/use_sim_time" value="true"/>

	<include file="$(find kugle_gazebo)/launch/gazebo.launch">
		<arg name="gui" value="true"/> <!-- Choose to spawn the Gazebo GUI or run the simulation "headless -->
	</include>

	<!-- Convert depth image from RGBD camera into registered (hence colored) pointcloud -->
	<include file="$(find kugle_bringup)/launch/depth_to_pointcloud.launch">
		<arg name="rgb_camera_info" value="/realsense/camera/color/camera_info"/>
		<arg name="rgb_img_rect" value="/realsense/camera/color/image_raw"/>  <!-- Rectified (undistorted) color image -->
		<arg name="depReg_imgraw" value="/realsense/camera/depth/image_raw"/>  <!-- Raw depth image -->
  		<arg name="depReg_imgrect" value="/realsense/camera/depth/image_rect"/>  <!-- Raw depth image -->
		<arg name="out_cloud" value="/realsense/camera/depth_registered/points"/>
	</include>

	<!-- Convert depth image from RGBD camera into laser scan -->
	<include file="$(find kugle_bringup)/launch/depth_to_laser.launch">
		<arg name="frame_id" value="depth"/> <!-- this frame name is published by the Realsense Gazebo plugin -->
		<arg name="depth_image" value="/realsense/camera/depth/image_raw"/>
		<arg name="depth_camera_info" value="/realsense/camera/depth/camera_info"/>
		<arg name="scan_topic" value="/realsense/scan"/>
		<arg name="use_nodelet" value="true"/>
	</include>

	<!-- respawn=true means that in case the node shuts down it will be restarted -->
	<!--<group ns="kugle">-->
	<node name="quaternion_integrator_node" pkg="kugle_misc" type="quaternion_integrator_node" respawn="true" output="screen"> 
		<param name="angular_velocity_body_topic" type="string" value="cmd_vel" />
		<param name="angular_velocity_inertial_topic" type="string" value="cmd_vel_inertial" />
		<param name="quaternion_topic" type="string" value="cmd_quaternion" />
		<param name="timeout" type="double" value="1.0" />
		<param name="rate" type="double" value="200" />
	</node>

</launch>
