<?xml version="1.0"?>
<launch>

	<include file="$(find kugle_gazebo)/launch/gazebo.launch" />

	<!-- respawn=true means that in case the node shuts down it will be restarted -->
	<group ns="kugle">
		<!--<node name="quaternion_integrator_node" pkg="kugle_misc" type="quaternion_integrator_node" respawn="true" output="screen"> 
			<param name="omega_topic" type="string" value="cmd_omega" />
			<param name="quaternion_topic" type="string" value="cmd_quaternion" />
			<param name="timeout" type="double" value="1.0" />
			<param name="rate" type="double" value="200" />
		</node>-->

		<node name="velocity_controller_node" pkg="kugle_misc" type="velocity_controller_node" respawn="true" output="screen"> 
			<param name="quaternion_topic" type="string" value="cmd_quaternion" />
			<param name="odometry_topic" type="string" value="odom_raw" />
			<param name="reference_topic" type="string" value="cmd_velocity" />
			<param name="rate" type="double" value="10" />
			<param name="velocity_clamp" type="double" value="0.5" />
			<param name="max_tilt" type="double" value="5.0" />
			<param name="integral_gain" type="double" value="0.0" />
			<param name="max_integral_correction" type="double" value="8.0" />
		</node>
	</group>

</launch>
